@page "/admin_product"
@using Proyecto_Bicicletas_Web.Services
@using Proyecto_Bicicletas_Web.Models
@inject IProductos Iproducto

<div>
    <div class="row">
        <div class=" col col-sm-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
            <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success" aria-current="true">
                <div class="container">
                    <h5 class="mb-3">producto.Nombre</h5>
                    <img src="https://e1.pngegg.com/pngimages/555/986/png-clipart-media-filetypes-jpg-icon-thumbnail.png mb-3" width="30" height="24">
                </div>
                    <p class="mb-3">Precio producto.Precio</p>
                    <small>producto.Descripcion</small>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Borrar</button>
                        <button type="button" class="btn btn-warning">Modificar</button>
                    </div>
                </a>
        </div>
    </div>
</div>

@code {
    List<Productos> list_prod = new List<Productos>();
    Productos producto = new Productos();

    protected override async Task OnInitializedAsync()
    {
        list_prod = await Iproducto.ObtenerProductos();
    }
}
